.m-tablist {
  display: flex;
  @include sp {
    overflow: auto;
  }
  
  &_explore {
    display:block!important;
     }

  .m-tabbutton {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
