.a-fileinput {
  border-radius: 10px;
  height: 120px;
  width: 200px;
  border: 1px dotted $BORDER-TEXTFIELD-COLOR;

  &_input {
    display: none;
  }
  &_button {
    height: 120px;
    width: 200px;
  }
  &_handle {
    display: flex;
    align-items: center;
    justify-content: center;

    & .a-text {
      margin-right: 4px;
    }
  }

  & .a-image {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  & .a-text {
    text-align: center;
  }

  .m-fieldrow-error & {
    border-color: $COLOR-ERROR;
  }
}
